body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

button {
    cursor: pointer;
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}

#accountsList {
    list-style: none;
}

/* label {
    display: block;
    text-align: center;
} */

input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.btnContainer {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
}